body {
    background-color:#92a8d1

; 
}

 #tittle{
    color: #034f84;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   text-decoration: underline;
  text-decoration-color: #034f84;
}

#img1,#img2,#img3,#img4{
    height: 60% ;
    width: 97%;
}
@media(max-width:600px){
  #img1,#img2,#img3,#img4{
    height: 60% ;
    width: 100%;
}

}

#fig1,#fig2,#fig3 ,#fig4{
    font-size: large;
    color: #034f84;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
}

#btn{
    color: #1b1649;
   background-color: #457d9b;
   justify-content: center;
    height: 60% ;
    width: 10%;
}
.flex-container1{
  display: flex;
  margin: 10px;
}



p{
  color: #104968 ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: underline;
  text-decoration-color: #0077B6;
}


#nav1{
   background-color: #0077B6;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 30px;
   color: white;
  font-weight: bold;

}